body{
background-color: #F2F2F2;
font-size: 20px;
}

header {
    display: inline-block;
    text-decoration: underline;
}

.rightfooter {
    float: right;
    margin-top: 10px;
}

#YesButton {
  display: inline-block;
  border: 1px solid black;
  padding: 0.5em 1.1em;
  text-decoration: none;
  color: #757575;
  background-color: #F2F2F2;
  font-family: arial, sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  border-radius: 0.2em;
}

#YesButton:hover {
  border: 1.5px solid #757575 ;
  color: black;
}


footer {
    position: fixed;
    display: block;
    bottom: 0;
    width: 98%;
    height: 40px;

}