<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <link type="text/css" rel="stylesheet" href="assets/style.css" />
    <title>Lottery</title>
</head>
<body>
    <header>
        <h1>Welcome to the lottery numbers generator!</h1>
        <h3>Do you want to generate 8 random numbers?</h3>
        <a href="/lottery"><button id="YesButton">YES!</button></a>
    </header>
    <footer>
        <span class="rightfooter">
            {{time}}
        </span>
    </footer>
</body>


</body>
</html>